chap2/chap2.cabal
chap2/LICENSE
chap2/README.md
chap2/Setup.hs
chap2/stack.yaml
chap2/stack.yaml.lock
chap2/.stack-work/stack.sqlite3
chap2/.stack-work/stack.sqlite3.pantry-write-lock
chap2/.stack-work/dist/e626a42b/build-lock
chap2/.stack-work/dist/e626a42b/setup-config
chap2/.stack-work/dist/e626a42b/stack-cabal-mod
chap2/.stack-work/dist/e626a42b/build/chap2/autogen/cabal_macros.h
chap2/.stack-work/dist/e626a42b/build/chap2/autogen/Paths_chap2.hs
chap2/.stack-work/ghci/0fa568de/cabal_macros.h
chap2/.stack-work/install/16185b67/pkgdb/package.cache
chap2/.stack-work/install/16185b67/pkgdb/package.cache.lock
chap2/.stack-work/install/82483d60/pkgdb/package.cache
chap2/.stack-work/install/82483d60/pkgdb/package.cache.lock
chap2/.stack-work/install/aaed80e6/pkgdb/package.cache
chap2/.stack-work/install/aaed80e6/pkgdb/package.cache.lock
chap3/chap3.cabal
chap3/LICENSE
chap3/README.md
chap3/Setup.hs
chap3/stack.yaml
chap3/stack.yaml.lock
chap3/.stack-work/stack.sqlite3
chap3/.stack-work/stack.sqlite3.pantry-write-lock
chap3/.stack-work/dist/29cc6475/build-lock
chap3/.stack-work/dist/29cc6475/setup-config
chap3/.stack-work/dist/29cc6475/stack-cabal-mod
chap3/.stack-work/dist/29cc6475/build/chap3/autogen/cabal_macros.h
chap3/.stack-work/dist/29cc6475/build/chap3/autogen/Paths_chap3.hs
chap3/.stack-work/ghci/fdebf496/cabal_macros.h
chap3/.stack-work/install/0b38351e/pkgdb/package.cache
chap3/.stack-work/install/0b38351e/pkgdb/package.cache.lock
chap3/.stack-work/install/3fde63bd/pkgdb/package.cache
chap3/.stack-work/install/3fde63bd/pkgdb/package.cache.lock
chap3/src/Ranges.hs
chap4/.gitignore
chap4/ChangeLog.md
chap4/chap4.cabal
chap4/LICENSE
chap4/package.yaml
chap4/README.md
chap4/Setup.hs
chap4/stack.yaml
chap4/stack.yaml.lock
chap4/test/Spec.hs
chap5/ChangeLog.md
chap5/chap5-exe.EXE.prof
chap5/chap5.cabal
chap5/LICENSE
chap5/package.yaml
chap5/README.md
chap5/Setup.hs
chap5/stack.yaml
chap5/stack.yaml.lock
chap5/src/Lib.hs
chap5/test/Spec.hs
chap6/.gitignore
chap6/ChangeLog.md
chap6/chap6.cabal
chap6/LICENSE
chap6/package.yaml
chap6/README.md
chap6/Setup.hs
chap6/stack.yaml
chap6/stack.yaml.lock
chap6/app/Main.hs
chap6/test/Spec.hs
chap7/ChangeLog.md
chap7/chap7.cabal
chap7/LICENSE
chap7/package.yaml
chap7/README.md
chap7/Setup.hs
chap7/stack.yaml
chap7/stack.yaml.lock
chap7/app/Main.hs
chap7/test/Spec.hs
chap8/ChangeLog.md
chap8/chap8.cabal
chap8/LICENSE
chap8/package.yaml
chap8/README.md
chap8/Setup.hs
chap8/stack.yaml
chap8/stack.yaml.lock
chap8/test/Spec.hs
chap9/ChangeLog.md
chap9/chap9.cabal
chap9/LICENSE
chap9/README.md
chap9/Setup.hs
chap9/stack.yaml
chap9/stack.yaml.lock
chap9/src/Lib.hs
chap9/test/Spec.hs
chap10/ChangeLog.md
chap10/chap10.cabal
chap10/clients.db
chap10/LICENSE
chap10/package.yaml
chap10/README.md
chap10/Setup.hs
chap10/stack.yaml
chap10/stack.yaml.lock
chap10/test/Spec.hs
